.wrapper {
    display: grid;
    align-items: start;
    padding: 30px 40px;
    grid-area: header;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: #FFD829;
    justify-items: center;
    min-width: 200px;
}