.wrapper {
    padding: 0;

    .navItem {
        list-style: none;
        margin-top: 20px;
        font-size: 30px;
        padding: 10px;

        &:hover {
            background-color: #fff;
            border-radius: 20%;
        }

        &Link {
            text-decoration: none;
            color: #000000;

            &Active {
                font-weight: 700;
            }
        }
    }
}